<div class="container">
    <h1>Gelen Kutusu</h1>
    <ul id="messageList"></ul>

    <h3>Yeni Mesaj Gönder</h3>
    <div class="form-group">
        <label for="receiverId">Falcı Seçin:</label>
        <select id="receiverId" class="form-control">
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="messageInput">Mesaj:</label>
        <textarea id="messageInput" class="form-control"></textarea>
    </div>
    <button onclick="sendMessage()" class="btn btn-primary">Gönder</button>
</div>
