body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/images/Background/background.png') no-repeat center center fixed; /* Arka plan resmi */
    background-size: cover; /* Resim tüm ekranı kaplar */
    color: #fff; /* Yazılar beyaz */
}

header, footer {
    background-color: rgba(0, 0, 0, 0.5); /* Şeffaflık sağlamak için opaklığı düşürdük */
    padding: 10px 20px;
    text-align: center;
}

main.container {
    min-height: 80vh;
    padding: 20px;
    background-color: transparent; /* Şeffaflık */
    border-radius: 10px;
    box-shadow: none; /* Gölgeyi kaldırarak net bir görünüm */
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #000000; /* Başlıklar beyaz */
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-top: 10px;
}

    button:hover {
        background-color: #004d40;
    }

footer {
    font-size: 14px;
    color: #ccc;
}

/* Mobil Uyumluluk */
@media (max-width: 600px) {
    main.container {
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 12px;
    }

    h2 {
        font-size: 20px;
    }

    header, footer {
        font-size: 14px;
    }
}
